/* === RESPONSIVE FIX === */

/* Tablet */
@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero-image img {
        width: 70%;
    }
}

/* HP */
@media (max-width: 768px) {

    /* NAVBAR */
    .navbar {
        padding: 15px 20px;
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    .navbar ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* HERO */
    .hero {
        padding: 40px 20px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .hero-text h1 {
        font-size: 28px;
    }

    .hero-text h3 {
        font-size: 20px;
    }

    .hero-image img {
        width: 85%;
        max-width: 330px;
        margin: 0 auto;
    }

    /* SKILL GRID */
    .skill-grid {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* PROJECT BOX */
    .project-box {
        width: 95%;
        height: 220px;
    }

    /* CERTIFICATION */
    .cert-grid {
        padding: 0 20px;
        grid-template-columns: 1fr;
    }
}
